<!DOCTYPE html>
<html lang="ko-kr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image⁄x-icon" href="/image/Raphael_logo.png">
    <title>등하원 관리 시스템</title>
    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .help-block{
      align: left;
    }

    	.nav.nav-second-level li a{
		 padding-left: 50px;
    }



    </style>
</head>

<body onload="SetDrop('drop_branchName')">

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div>
                <button style="float :right" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">등하원 관리 시스템</a>
                <ul style="float :right" class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="#" class="menu" onclick="onLogOut()"><i class="fa fa-sign-out fa-fw"></i> 로그 아웃</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> 사용자 정보 관리<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="user_information">사용자 정보</a>
                                </li>
                                <li>
                                    <a href="user_register">사용자 등록</a>
                                </li>
                                <li>
                                    <a href="user_password_change">비밀번호 변경</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-building fa-fw"></i> 지점 관리<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="branch_management">지점 정보</a>
                                </li>
                                <li>
                                    <a href="branch_register">지점 등록</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="#"><i class="fa fa-user-plus fa-fw"></i> 클라이언트 관리<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a class="active" href="client_management">클라이언트 정보</a>
                                </li>
                                <li>
                                    <a href="client_register">클라이언트 등록</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-rss fa-fw"></i> 서비스<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="service_management">서비스 상태</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-database fa-fw"></i> 데이터 조회<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                    <li><a href="data_info">요약 정보</a></li>
                                    <li><a href="data_daily_check">당일 조회</a></li>
                                    <li><a href="data_check">기간 조회</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-history fa-fw"></i> 로그<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="log_management">RFID 로그</a></li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->


        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">클라이언트 정보 수정</h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    <form role="form" action="/htmlclientedit" method="post"
                                        autocomplete="off" onsubmit='return CheckNum();'>
                                        <input type="hidden" name="Idx" value="<%=data.Idx%>">
                                        <div class="form-group">
                                            <label>지점</label>
                                            <input type="hidden" value="<%=data.Branch%>" id="clientBranch" name="Branch" />
                                            <select class="form-control" id="drop_branchName" onchange="BranchFunc('drop_branchName','clientBranch')">
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>성명</label>
                                            <input type="text" class="form-control" id="clientSign-Name" name="Name"
                                                value="<%=data.Name%>" placeholder="성명">
                                        </div>
                                        <div class="form-group">
                                            <input type="hidden" id="clientSex" value="<%=data.Sex%>" name="Sex" />
                                            <label>성별</label>
                                            <select class="form-control" id="drop_clientSex" onchange="BranchFunc('drop_clientSex','clientSex')">
                                                <option value="남">남</option>
                                                <option value="여">여</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>생년월일</label>
                                            <input type="text" onkeydown='return onlyNumber(event)' onkeyup='removeChar(event)'
                                                onblur="checkblur()" class="form-control" id="clientSign-birth" name="Birth"
                                                placeholder="예) 19800517">
                                        </div>
                                        <div class="form-group">
                                            <label>RFID(13.6mhz)</label>
                                            <input type="text" value="<%=data.RFID1%>" class="form-control" id="clientSign-RFID1"
                                                name="RFID1" placeholder="RFID1">
                                            <label class="help-block" style="font-size:8pt;">FRID13.6mhz는 차량에서 사용하는
                                                인식기의 카드 번호 입니다.</label>
                                        </div>
                                        <div class="form-group">
                                            <label>RFID(900mhz)</label>
                                            <input type="text" value="<%=data.RFID2%>" class="form-control" id="clientSign-RFID2"
                                                name="RFID2" placeholder="RFID2">
                                            <label class="help-block" style="font-size:8pt;">FRID900mhz는 센터에서 사용하는 인식기의
                                                카드 번호 입니다.</label>
                                        </div>
                                        <div class="form-group">
                                            <label>요양 관리번호</label>
                                            <input type="text" value="<%=data.CareLicense%>" class="form-control" id="clientSign-careManageNum"
                                                name="CareLicense">
                                        </div>
                                        <div class="form-group">
                                            <label>요양 등급</label>
                                            <input type="text" class="form-control" value="<%=data.CareClass%>" id="clientSign-careGrade"
                                                name="CareClass">
                                        </div>
                                        <div class="form-group">
                                            <label>유효 기간</label>
                                            <input type="text" onkeydown='return onlyNumber(event)' onkeyup='removeChar(event)'
                                                class="form-control" id="clientSign-validity" name="CareLicensePeriod"
                                                placeholder="예) 19800517">
                                        </div>
                                        <div class="form-group">
                                            <label>계약자 이름</label>
                                            <input type="text" value="<%=data.ContractorName%>" class="form-control" id="clientSign-contractorName"
                                                name="ContractorName">
                                        </div>
                                        <div class="form-group">
                                            <label>관계</label>
                                            <input type="text" value="<%=data.Relation%>" class="form-control" id="clientSign-relation"
                                                name="Relation">
                                        </div>
                                        <div class="form-group">
                                            <label>전화 번호</label>
                                            <input type="text" onkeydown='return onlyNumber(event)' onkeyup='removeChar(event)'
                                                onblur="checkblur()" class="form-control" id="clientSign-phoneNum" name="ContractorPhone">
                                        </div>
                                        <div class="form-group">
                                            <label>계약 일자</label>
                                            <input type="text" onkeydown='return onlyNumber(event)' onkeyup='removeChar(event)'
                                                onblur="checkblur()" class="form-control" id="clientSign-contractDate"
                                                name="ContractDate" placeholder="예) 19800517">
                                        </div>
                                        <div class="form-group">
                                            <label>계약 기간</label>
                                            <input type="text" onkeydown='return onlyNumber(event)' onkeyup='removeChar(event)'
                                                onblur="checkblur()" class="form-control" id="clientSign-contractTerm"
                                                name="ContractPeriod" placeholder="예) 19800517">
                                        </div>
                                        <p style="height: 5px;"></p>
                                        <div class="controls col-xs-20">
                                            <button type="submit" class="btn btn-success" style="width: 130px; height: 40px; font-size: 12pt;">수정</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->


    <script>
        function BranchFunc(dorpId, saveId) {
            var selectBox = document.getElementById(dorpId);
            var selectedValue = selectBox.options[selectBox.selectedIndex].value;
            document.getElementById(saveId).value = selectedValue;
        }

        function SetDrop(id) {
            var AuthorityEnum = returnEnum();
            if ("<%= Authority%>".substr(AuthorityCheck("사용자 등록", AuthorityEnum), 1) == '1') {

                $.ajax({
                    url: '/htmlbranchget',                //주소
                    dataType: 'json',                  //데이터 형식
                    type: 'POST',                      //전송 타입

                    success: function (result) {          //성공했을 때 함수 인자 값으로 결과 값 나옴
                        if (result['error'] == "SUCCESS") {
                            $("#" + id + "").empty();
                            var resultData = JSON.parse(JSON.stringify(result['data']));

                            var select = document.getElementById(id);
                            var option = document.createElement('option');

                            for (var i = 0; i < resultData.length; i++) {
                                var branchName = resultData[i].BranchName;
                                var option = document.createElement('option');

                                if (branchName == "<%=data.Branch%>") {
                                    option.selected = true;
                                }
                                option.value = branchName;
                                option.innerHTML += branchName;
                                select.appendChild(option);
                            }
                        }
                    }
                });
            }
            checkGender();
            replaceData("<%=data.ContractorPhone%>", "clientSign-phoneNum");
            replaceData("<%=data.Birth%>", "clientSign-birth");
            replaceData("<%=data.CareLicensePeriod%>", "clientSign-validity");
            replaceData("<%=data.ContractDate%>", "clientSign-contractDate");
            replaceData("<%=data.ContractPeriod%>", "clientSign-contractTerm");
        }

        function replaceData(data, id) {
            var data = data;
            document.getElementById(id).value = data.replace(/-/g, "");

        }

        function checkGender() {
            var selectBox = document.getElementById("drop_clientSex");
            for (var i = 0; i < selectBox.length; i++) {
                if (selectBox.options[i].text == "<%=data.Sex%>") {
                    selectBox.options[i].selected = true;
                }
            }
        }

        function CheckNum() {
            if (document.getElementById('clientSign-phoneNum').value.length == 0 || document.getElementById('clientSign-phoneNum').value.length == 10 || document.getElementById('clientSign-phoneNum').value.length == 11) {
                if ((document.getElementById('clientSign-birth').value.length == 0 || document.getElementById('clientSign-birth').value.length == 8)
                    && (document.getElementById('clientSign-validity').value.length == 0 || document.getElementById('clientSign-validity').value.length == 8)
                    && (document.getElementById('clientSign-contractDate').value.length == 0 || document.getElementById('clientSign-contractDate').value.length == 8)
                    && (document.getElementById('clientSign-contractTerm').value.length == 0 || document.getElementById('clientSign-contractTerm').value.length == 8)) {
                    return true;
                }
                else {
                    if (document.getElementById('clientSign-birth').value.length != 0 && document.getElementById('clientSign-birth').value.length != 8) { alert("생년원일를 확인하세요."); return false; }
                    else if (document.getElementById('clientSign-validity').value.length != 0 && document.getElementById('clientSign-validity').value.length != 8) { alert("유효기간을 확인하세요."); return false; }
                    else if (document.getElementById('clientSign-contractDate').value.length != 0 && document.getElementById('clientSign-contractDate').value.length != 8) { alert("계약일자를 확인하세요."); return false; }
                    else if (document.getElementById('clientSign-contractTerm').value.length != 0 && document.getElementById('clientSign-contractTerm').value.length != 8) { alert("계약기간을 확인하세요."); return false; }
                }
            }
            else { alert("전화번호를 확인하세요."); return false; }
            return false;
        }

    </script>



    <!-- /#wrapper -->
    <script type="text/javascript" src="/js/Func.js"></script>
    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

</body>

</html>
